<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="StackControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>

		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<userSettings>
		<StackControl.Properties.Settings>
			<setting name="DBConnect" serializeAs="String">
				<value>Data Source=.;Initial Catalog=StacksInfo;User ID=sa;Password=Homag</value>
			</setting>
		</StackControl.Properties.Settings>
	</userSettings>
	<appSettings>

		<add key="CurrentBatchID" value=""/>
		<add key="WaitTime" value="10000"/>

		<!--获取csv远程IP-->
		<add key="Getcsv_IP" value="10.16.247.30"/>
		<!--用户名及密码逗号区分-->
		<!--<add key="Getcsv_UsePwd" value="HOMAG,homag" />-->
		<add key="Getcsv_UsePwd" value="datauser,da+123456"/>
		<!--获取csv共享文件夹-->
		<add key="csv_Path" value="wx_homag\WuXi_HOLZMA\WuXi_HOMAG\csv"/>
		<!--备份csv共享文件夹-->
		<add key="csv_Goal" value="wx_homag\WuXi_HOLZMA\WuXi_HOMAG\csvbackup"/>


		<!--存放锯切图远程IP_1#-->
		<add key="PatternIP_1" value="192.2.70.1"/>
		<!--用户名及密码逗号区分-->
		<add key="PatternUsePwd_1" value="machine,user"/>
		<!--共享文件夹-->
		<add key="PatternGoal_1" value="Lager"/>


		<!--存放锯切图远程IP_2#-->
		<add key="PatternIP_2" value="192.2.71.1"/>
		<add key="PatternUsePwd_2" value="machine,user"/>
		<add key="PatternGoal_2" value="Lager"/>

		<!--存放锯切图远程IP_3#-->
		<add key="PatternIP_3" value="192.2.72.1"/>
		<add key="PatternUsePwd_3" value="machine,user"/>
		<add key="PatternGoal_3" value="Lager"/>

		<!--存放锯切图远程IP_4#-->
		<add key="PatternIP_4" value="192.2.73.1"/>
		<add key="PatternUsePwd_4" value="machine,user"/>
		<add key="PatternGoal_4" value="Lager"/>

		<!--存放锯切图远程IP_5#-->
		<add key="PatternIP_5" value="192.2.74.1"/>
		<add key="PatternUsePwd_5" value="machine,user"/>
		<add key="PatternGoal_5" value="Lager"/>

	</appSettings>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<connectionStrings>
		<add name="EDM" connectionString="data source=WIN-83K4ET4871L;initial catalog=Oppein-Wuxi-2020;persist security info=True;user id=sa;password=Homag;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>